//Smooth Sections

html {
  scroll-behavior: smooth;
}


/** Navbar collpase **/

.offcanvas-collapse {
    position: fixed;
    top: 86px;
    bottom: 0;
    right: 100%;
    left: -300px;
    width: 300px;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: white;
    color: black;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
}

.offcanvas-collapse {
    align-items: start;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border-right: 5px solid rgba(0, 0, 0, 0.2);

}

.offcanvas-collapse.open {
    left: 0;
    visibility: visible;
}

.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: column;
    flex-direction: column;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
}

.nav-underline .nav-link:hover {
    color: #007bff;
}

.nav-underline .active {
    font-weight: 500;
    color: #343a40;
}

.logo-light img {
    width: 33%;
} 

.logo-dark img {
    width: 30%;
}

.logo-dark-mobile {
    width: 116px;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

.navbar-nav .nav-item .nav-link .link-dark {
    color: rgba(0, 0, 0, 0.2);
}


/** Navbar desktop **/

.navbar-brand {
    padding-top: 22px;
    padding-bottom: 18px;
}

.navbar-dark .navbar-toggler {
    color: white;
    border-color: white;
}

.navbar-nav .nav-item .nav-link{
	padding: 18px 20px 0px 20px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: $white;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: $green;
    font-weight: 400;
}

.navbar-nav .nav-item .nav-link:hover{
      position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 100px;
        height: 3px;
        left: 0;
        background: $green;
        bottom: -10px;
        text-align: center;
        left: 50%; 
	 transform: translateX(-50%);
    }
}

.nav-custom:hover a {
    color: $green;
}


.nav-btn {
padding-top: 8px;
}

 .shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: $white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
}

.logo-dark {
width: 60%;
}


/** Main **/

.carousel-caption {
position: absolute;
left: 15%;
top: 30%;
text-align: left;
}

.carousel-caption p {
    @include others(40);
    margin-bottom: 22px;
}


//***about ***

#about {
background-image: url('../../src/img/bg-1.png');
background-repeat: no-repeat; 
background-size: cover;
background-position: center; 
position: relative;
height: 600px;
display: block;
margin-top: 56px;
margin-bottom: 20px;
}

.content-about {
    transform: translatey(20%);
}
.content-about h2 {
font-size: 32px;
color: $black-clean;
line-height: 51px;
    font-weight: 700;
}

.content-about p {
font-size: 16px;
color: $black-clean;
    margin-top: 30px;
    line-height: 33px;

}

.content-board {
    transform: translatey(19%);
    border: 8px solid $grey-clean;
    padding: 40px 40px 40px 40px;
    background-color: $white;
}

.content-board h3 {
font-size: 28px;
    font-weight: 700;
    color: $black-clean;
}

.content-board p {
font-size: 16px;
    line-height: 30px;
    padding-top: 15px;
    color: $black-clean;
    font-weight: 400;
}

.list-group-item {
    border: 0px;
padding: 5px 0px 15px 0px;
color: $black-clean;
font-weight: 500;
}

.fas, .fa-check {
    color: $green;
}


//Services

#services {
     margin-top:80px;
}

.services-title {
    margin-bottom: 70px;
}

.services-title h2{
font-size: 32px;
line-height: 40px;
font-weight: 600;
color: $black-clean;
padding: 10px 80px 10px 80px;
}

.services-title h4 {
    font-size: 18px;
    font-weight: 600;
    color: $green;
}

.media-body h4 {
    font-size: 30px;
    color: $green;
    font-weight: 600;
}

.img-icon {
    width: 10%;
}

.media-body h6 {
   font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    color: $black-clean;
}

.media-body p {
        font-size: 16px;
    line-height: 33px;
}

.img-services {
    width: 100%;
}

//Contact

#contact {
    background-color: $white-smooth;
    height: 100%;
    margin-top: 80px;
}

.contact {
    padding: 60px 0px 60px 0px;
}

#contact h2 {
    font-size: 30px;
    font-weight: 600;
}

#contact p {
    font-weight: 400;
    color: $black-clean;
    font-size: 16px;
    margin-top: 20px;
    line-height: 36px;
}

//footer

footer p {
    font-size: 17px;
    color: $black-clean;
    font-weight: 400;
    text-align: center;
    transform: translatey(70%);
}


@media only screen and (min-width: 320px)  and (max-width: 1024px) {

//Navbar
.navbar-nav .nav-item .nav-link:hover{ 
color: $green;
 &::after {
display: none; 
}

}

//Sidebar
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
color: $black;
font-size: 20px;
line-height: 40px;
    transform: translatey(70%);
}

.text-success {
    color: $green !important;
    font-weight: 600;
}

#banner {
    display: none;
}

//Carousel
#main {
    margin-top: 80px;
}

.img-carousel {
    height: 291px;
}

#main h5 {
font-size: 26px;
}

.carousel-caption p {
font-size: 16px;
line-height: 29px;
margin-bottom: 8px;
}

.carousel-caption {
left: 16%;
    top: 28%;
right: 10%
}

.d-none-btn  {
    display: none;
}

.link-rota u {
    color: $white;
    font-weight: 500;
}

//About

.content-about {
        transform: translatey(0%);
}

#about {
    height: 100%;
}

.content-about {
transform: translatey(10%);
}

.content-about h2 {
    font-size: 25px;
line-height: 45px;
text-align: center;
}

.content-about p {
text-align: center;
margin-top: 0px; 

}

.content-board {
    transform: translatey(16%);
    padding: 30px 20px 20px 20px;
}

.content-btn {
    justify-content: center;
    display: flex;
}

//Services

#services {
margin-top: 150px;
}

.services-title {
    margin-bottom: 40px;
}

.services-title h4 {
font-size: 18px;
    margin-bottom: 14px;
}

.services-title h2 {
   font-size: 22px;
    padding: 0;
    line-height: 34px;
}

.img-icon {
display: none;
}

.media-body h6 {
    font-size: 24px;
    line-height: 35px;
}

.media-body p {
    font-size: 16px;
    line-height: 31px;
}

.contact {
padding: 40px 0px 40px 0px;
}

#contact h2 {
    font-size: 25px;
    line-height: 36px;
    font-weight: 600;
}

#contact p {
    font-weight: 400;
    color: #3E3D3D;
    font-size: 16px;
    padding: 5px 05px 0px 5px;
    margin-top: 0px;
    line-height: 36px;
}

footer p {
    font-size: 14px;
}



}

@media only screen and (min-width: 1024px) { 

    .navbar-offcanvas, .link-rota {
display: none;
    }

}